# Data preparation

## Import base

In [2]:
import pandas as pd

In [3]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [7]:
credits.dtypes
credits.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [8]:
movies.shape

(4803, 20)

In [9]:
credits.shape

(4803, 4)

In [10]:
# Let's just transform the release date to a datetime type
movies['release_date'] = pd.to_datetime(movies['release_date'])

## Merge credits and movie

In [11]:
data = credits.merge(movies, left_on='movie_id', right_on='id')

In [12]:
data

,movie_id,title_x,cast,crew,budget,genres,homepage,id,keywords,original_language,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,...,"[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,...,[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...",0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",0,[],http://shanghaicalling.com/,126186,[],en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [13]:
data.drop(columns='id', inplace=True)

In [14]:
data.set_index('movie_id', inplace=True)

In [15]:
data.head()

,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
movie_id,,,,,,,,,,,,,,,,,,,,,
19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

## Removing missing values

In [16]:
data.isna().sum()

title_x                    0
cast                       0
crew                       0
budget                     0
genres                     0
homepage                3091
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_y                    0
vote_average               0
vote_count                 0
dtype: int64

We see that almost all homepages are missing, and as they are not particularly useful, removing completely the column should do. As for the release date and the runtime, we should be able to substitute a reasonable value. The most difficult is going to be working with the missing taglines, but we might end up not using them.

In [17]:
# Let's take care of the missing release date
data.drop(index=data[data['release_date'].isna()].index, inplace=True)
# This particular movies was too recently released, and everything is missing so we drop it
# It seems that we didn't take into account all the empty lists and null values

In [18]:
chimameti = data[data['runtime'].isna()].index[0]
frank_sinatra = data[data['runtime'].isna()].index[1]
data.loc[chimameti, 'runtime'] = 113.0
data.loc[frank_sinatra, 'runtime'] = 81.0

We are going to differentiate in addition of the existing data types lists and strings. It's going to be important as the list have subattributes that can be extracted later, but also because the missing value manifests by an empty list which isn't considered NaN by pandas.

In [19]:
data.dtypes

title_x                         object
cast                            object
crew                            object
budget                           int64
genres                          object
homepage                        object
keywords                        object
original_language               object
original_title                  object
overview                        object
popularity                     float64
production_companies            object
production_countries            object
release_date            datetime64[ns]
revenue                          int64
runtime                        float64
spoken_languages                object
status                          object
tagline                         object
title_y                         object
vote_average                   float64
vote_count                       int64
dtype: object

In [20]:
# Let's split the database by column type so that we can search for missing values properly
(data.select_dtypes('number') == 0).sum()

budget          1036
popularity         0
revenue         1426
runtime           34
vote_average      62
vote_count        61
dtype: int64

In [21]:
# Here we split the columns between strings and json 
str_cols, json_cols = [], []
for column in data.select_dtypes('object'):
    if data[column].iloc[0][0] == '[':
        json_cols.append(column)
    else :
        str_cols.append(column)

In [22]:
for column in data[json_cols]:
    data[column] = data[column].map(eval)

In [23]:
(data[json_cols].applymap(len) == 0).sum()

cast                     42
crew                     27
genres                   27
keywords                411
production_companies    350
production_countries    173
spoken_languages         85
dtype: int64

In [24]:
data['cast'][285]

[{'cast_id': 4,
  'character': 'Captain Jack Sparrow',
  'credit_id': '52fe4232c3a36847f800b50d',
  'gender': 2,
  'id': 85,
  'name': 'Johnny Depp',
  'order': 0},
 {'cast_id': 5,
  'character': 'Will Turner',
  'credit_id': '52fe4232c3a36847f800b511',
  'gender': 2,
  'id': 114,
  'name': 'Orlando Bloom',
  'order': 1},
 {'cast_id': 6,
  'character': 'Elizabeth Swann',
  'credit_id': '52fe4232c3a36847f800b515',
  'gender': 1,
  'id': 116,
  'name': 'Keira Knightley',
  'order': 2},
 {'cast_id': 12,
  'character': 'William "Bootstrap Bill" Turner',
  'credit_id': '52fe4232c3a36847f800b52d',
  'gender': 2,
  'id': 1640,
  'name': 'Stellan Skarsgård',
  'order': 3},
 {'cast_id': 10,
  'character': 'Captain Sao Feng',
  'credit_id': '52fe4232c3a36847f800b525',
  'gender': 2,
  'id': 1619,
  'name': 'Chow Yun-fat',
  'order': 4},
 {'cast_id': 9,
  'character': 'Captain Davy Jones',
  'credit_id': '52fe4232c3a36847f800b521',
  'gender': 2,
  'id': 2440,
  'name': 'Bill Nighy',
  'order': 5},
 {'cast_id': 7,
  'character': 'Captain Hector Barbossa',
  'credit_id': '52fe4232c3a36847f800b519',
  'gender': 2,
  'id': 118,
  'name': 'Geoffrey Rush',
  'order': 6},
 {'cast_id': 14,
  'character': 'Admiral James Norrington',
  'credit_id': '52fe4232c3a36847f800b535',
  'gender': 2,
  'id': 1709,
  'name': 'Jack Davenport',
  'order': 7},
 {'cast_id': 13,
  'character': 'Joshamee Gibbs',
  'credit_id': '52fe4232c3a36847f800b531',
  'gender': 2,
  'id': 2449,
  'name': 'Kevin McNally',
  'order': 8},
 {'cast_id': 11,
  'character': 'Lord Cutler Beckett',
  'credit_id': '52fe4232c3a36847f800b529',
  'gender': 2,
  'id': 2441,
  'name': 'Tom Hollander',
  'order': 9},
 {'cast_id': 19,
  'character': 'Tia Dalma',
  'credit_id': '52fe4232c3a36847f800b549',
  'gender': 1,
  'id': 2038,
  'name': 'Naomie Harris',
  'order': 10},
 {'cast_id': 8,
  'character': 'Governor Weatherby Swann',
  'credit_id': '52fe4232c3a36847f800b51d',
  'gender': 2,
  'id': 378,
  'name': 'Jonathan Pryce',
  'order': 11},
 {'cast_id': 37,
  'character': 'Captain Teague Sparrow',
  'credit_id': '52fe4232c3a36847f800b5b3',
  'gender': 2,
  'id': 1430,
  'name': 'Keith Richards',
  'order': 12},
 {'cast_id': 16,
  'character': 'Pintel',
  'credit_id': '52fe4232c3a36847f800b53d',
  'gender': 2,
  'id': 1710,
  'name': 'Lee Arenberg',
  'order': 13},
 {'cast_id': 15,
  'character': 'Ragetti',
  'credit_id': '52fe4232c3a36847f800b539',
  'gender': 2,
  'id': 1711,
  'name': 'Mackenzie Crook',
  'order': 14},
 {'cast_id': 18,
  'character': 'Lieutenant Theodore Groves',
  'credit_id': '52fe4232c3a36847f800b545',
  'gender': 2,
  'id': 4031,
  'name': 'Greg Ellis',
  'order': 15},
 {'cast_id': 55,
  'character': 'Cotton',
  'credit_id': '57e28d2ec3a3681a01005b5c',
  'gender': 2,
  'id': 1715,
  'name': 'David Bailie',
  'order': 16},
 {'cast_id': 17,
  'character': 'Marty',
  'credit_id': '52fe4232c3a36847f800b541',
  'gender': 2,
  'id': 4030,
  'name': 'Martin Klebba',
  'order': 17},
 {'cast_id': 57,
  'character': 'Ian Mercer',
  'credit_id': '57e28d78c3a36808b900bf4f',
  'gender': 0,
  'id': 939,
  'name': 'David Schofield',
  'order': 18},
 {'cast_id': 62,
  'character': 'Scarlett',
  'credit_id': '57e28ec5c3a3681a50005855',
  'gender': 1,
  'id': 2450,
  'name': 'Lauren Maher',
  'order': 19},
 {'cast_id': 63,
  'character': 'Giselle',
  'credit_id': '57e28ed692514123f5005635',
  'gender': 1,
  'id': 2452,
  'name': 'Vanessa Branch',
  'order': 20},
 {'cast_id': 60,
  'character': 'Mullroy',
  'credit_id': '57e28db2c3a3681a01005bc7',
  'gender': 2,
  'id': 1714,
  'name': 'Angus Barnett',
  'order': 21},
 {'cast_id': 59,
  'character': 'Murtogg',
  'credit_id': '57e28da192514118f7006008',
  'gender': 0,
  'id': 1713,
  'name': 'Giles New',
  'order': 22},
 {'cast_id': 58,
  'character': 'Tai Huang',
  'credit_id': '57e28d8ec3a3681a01005bab',
  'gender': 2,
  'id': 22075,
  'name': 'Reggie Lee',
  'order': 23},
 {'cast_id': 64,
  'character': 'Henry Turner',
  'credit_id': '57e29119925141151100a6cc',
  'gender': 2,
  'id': 61259,
  'name': 'Dominic Scott Kay',
  'order': 24},
 {'cast_id': 39,
  'character': 'Mistress Ching',
  'credit_id': '52fe4232c3a36847f800b5bd',
  'gender': 1,
  'id': 33500,
  'name': 'Takayo Fischer',
  'order': 25},
 {'cast_id': 40,
  'character': 'Lieutenant Greitzer',
  'credit_id': '52fe4232c3a36847f800b5c1',
  'gender': 2,
  'id': 1224149,
  'name': 'David Meunier',
  'order': 26},
 {'cast_id': 49,
  'character': 'Hadras',
  'credit_id': '56d1871c92514174680010cf',
  'gender': 2,
  'id': 429401,
  'name': 'Ho-Kwan Tse',
  'order': 27},
 {'cast_id': 56,
  'character': 'Clacker',
  'credit_id': '57e28d4b92514125710055cb',
  'gender': 0,
  'id': 1123,
  'name': 'Andy Beckwith',
  'order': 28},
 {'cast_id': 51,
  'character': 'Penrod',
  'credit_id': '56ec8c14c3a3682260003c53',
  'gender': 2,
  'id': 1056117,
  'name': 'Peter Donald Badalamenti II',
  'order': 29},
 {'cast_id': 61,
  'character': "Cotton's Parrot (voice)",
  'credit_id': '57e28dcc9251412463005678',
  'gender': 2,
  'id': 21700,
  'name': 'Christopher S. Capp',
  'order': 30},
 {'cast_id': 65,
  'character': 'Captain Teague',
  'credit_id': '58bc2a37c3a368663003740b',
  'gender': 2,
  'id': 1430,
  'name': 'Keith Richards',
  'order': 31},
 {'cast_id': 66,
  'character': 'Captain Jocard',
  'credit_id': '58bc2a8e925141609e03a179',
  'gender': 2,
  'id': 2603,
  'name': 'Hakeem Kae-Kazim',
  'order': 32},
 {'cast_id': 67,
  'character': 'Captain Ammand',
  'credit_id': '58e2a21ac3a36872af00f9c2',
  'gender': 0,
  'id': 70577,
  'name': 'Ghassan Massoud',
  'order': 33}]

In [25]:
data[str_cols].isna().sum()

title_x                 0
homepage             3090
original_language       0
original_title          0
overview                3
status                  0
tagline               843
title_y                 0
dtype: int64

In [26]:
chimameti_desc = 'A biopic of the rise of father Jorge Mario Bergoglio SJ from a teacher in a Jesuit High School in Argentina to archbishop and cardinal of Buenos Aires to Pope of the Roman Catholic Church. The story touches on his relation with his fellow Jesuits in Argentina and Europe, to his relation with laureate writer Jorge Luis Borges, Argentine dictator Jorge Rafael Videla, and archbishops Laghi (nuncio to Argentina) and Quarracino (cardinal of Buenos Aires), up to the moment where he is elected Pope in 2013'
frank_sinatra_desc = 'The life of Frank Sinatra, as an actor and singer and the steps along the way that led him to become such an icon.'
food_chains_desc = 'There is so much interest in food these days yet there is almost no interest in the hands that pick that food. In the US, farm labor has always been one of the most difficult and poorly paid jobs and has relied on some of the nation\'s most vulnerable people. While the legal restrictions which kept people bound to farms, like slavery, have been abolished, exploitation still exists, ranging from wage theft to modern-day slavery. These days, this exploitation is perpetuated by the corporations at the top of the food chain: supermarkets. Their buying power has kept wages pitifully low and has created a scenario where desperately poor people are willing to put up with anything to keep their jobs.'

In [27]:
data[data['overview'].isna()]

,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
movie_id,,,,,,,,,,,,,,,,,,,,,
370980,Chiamatemi Francesco - Il Papa della gente,"[{'cast_id': 5, 'character': 'Jorge Mario Berg...","[{'credit_id': '5660019ac3a36875f100252b', 'de...",15000000,"[{'id': 18, 'name': 'Drama'}]",NaN,"[{'id': 717, 'name': 'pope'}, {'id': 5565, 'na...",it,Chiamatemi Francesco - Il Papa della gente,NaN,...,"[{'iso_3166_1': 'IT', 'name': 'Italy'}]",2015-12-03,0,113.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,Chiamatemi Francesco - Il Papa della gente,7.3,12
459488,"To Be Frank, Sinatra at 100","[{'cast_id': 0, 'character': 'Narrator', 'cred...","[{'credit_id': '592b25e4c3a368783e065a2f', 'de...",2,"[{'id': 99, 'name': 'Documentary'}]",NaN,"[{'id': 6027, 'name': 'music'}, {'id': 225822,...",en,"To Be Frank, Sinatra at 100",NaN,...,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2015-12-12,0,81.0,[],Released,NaN,"To Be Frank, Sinatra at 100",0.0,0
292539,Food Chains,[],"[{'credit_id': '5470c3b1c3a368085e000abd', 'de...",913000,"[{'id': 99, 'name': 'Documentary'}]",NaN,[],de,Food Chains,NaN,...,[],2014-04-26,0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Food Chains,7.4,8

In [28]:
# Let's fill in manually the missing overviews
data.loc[chimameti, 'overview'] = chimameti_desc
data.loc[frank_sinatra, 'overview'] = frank_sinatra
data.loc[data['overview'].isna(), 'overview'] = food_chains_desc

In [29]:
data.drop(columns='homepage', inplace=True)

We delete the lines where cast or crew is missing because it would be much more work to recover these information and only a few are missing.

In [46]:
data.drop(index=data[data['crew'].map(len) == 0].index, inplace=True)
data.drop(index=data[data['cast'].map(len) == 0].index, inplace=True)

Now we need to consider all the 'list' missing values. Those are more difficult to handle because they involve ids and conventions from the database. It's relatively easy to scrap imdb but less to match the info we can get there with the ones we already have. We will leave this part for when we have a specific id of our need in terms of missing values.

# Initial analysis

## Recommending by rating
TODO : paragraph about imdb ratings

We will start with a simple recommendation system which simply recommends the best movies in the database.

In [47]:
# Let's choose the minimum amount of ratings for us to consider the movie
# Here we only take into account movies that have more votes than 80% of the list
min_votes = data['vote_count'].quantile(0.8)
min_votes

966.0

In [48]:
v = data['vote_count']
m = min_votes
R = data['vote_average']
C = data['vote_average'].mean()

In [49]:
data['weighted_rating'] = (v / (v + m) * R) + (m / (v+m) * C)
data

,title_x,cast,crew,budget,genres,keywords,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count,weighted_rating
movie_id,,,,,,,,,,,,,,,,,,,,,
19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 1463, 'name': 'culture clash'}, {'id':...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,2009-12-10,2787965087,162.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,7.117940
285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,2007-05-19,961000000,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,6.761365
206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,2015-10-26,880674609,148.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,A Plan No One Escapes,Spectre,6.3,4466,6.267198
49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 849, 'name': 'dc comics'}, {'id': 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,2012-07-16,1084939099,165.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,7.457627
49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,2012-03-07,284139100,132.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,6.104861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9367,El Mariachi,"[{'cast_id': 1, 'character': 'El Mariachi', 'c...","[{'credit_id': '52fe44eec3a36847f80b280b', 'de...",220000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 5616, 'name': 'united states–mexico ba...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,...,1992-09-04,2040920,81.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,6.211312
72766,Newlyweds,"[{'cast_id': 1, 'character': 'Buzzy', 'credit_...","[{'credit_id': '52fe487dc3a368484e0fb013', 'de...",9000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,...,2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,6.114438
231617,"Signed, Sealed, Delivered","[{'cast_id': 8, 'character': 'Oliver O’Toole',...","[{'credit_id': '52fe4df3c3a36847f8275ecf', 'de...",0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 248, 'name': 'date'}, {'id': 699, 'nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,...,2013-10-13,0,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,6.121008
126186,Shanghai Calling,"[{'cast_id': 3, 'character': 'Sam', 'credit_id...","[{'credit_id': '52fe4ad9c3a368484e16a36b', 'de...",0,[],[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,...,2012-05-03,0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,6.112559
25975,My Date with Drew,"[{'cast_id': 3, 'character': 'Herself', 'credi...","[{'credit_id': '58ce021b9251415a390165d9', 'de...",0,"[{'id': 99, 'name': 'Documentary'}]","[{'id': 1523, 'name': 'obsession'}, {'id': 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,...,2005-08-05,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,My Date with Drew,6.3,16,6.118553

In [50]:
# The best movies of all time ...
data.sort_values('weighted_rating', ascending=False).head(10)

,title_x,cast,crew,budget,genres,keywords,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count,weighted_rating
movie_id,,,,,,,,,,,,,,,,,,,,,
278,The Shawshank Redemption,"[{'cast_id': 3, 'character': 'Andy Dufresne', ...","[{'credit_id': '52fe4231c3a36847f800b153', 'de...",25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,136.747729,...,1994-09-23,28341469,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,8.5,8205,8.248841
550,Fight Club,"[{'cast_id': 4, 'character': 'The Narrator', '...","[{'credit_id': '55731b8192514111610027d7', 'de...",63000000,"[{'id': 18, 'name': 'Drama'}]","[{'id': 825, 'name': 'support group'}, {'id': ...",en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,146.757391,...,1999-10-15,100853753,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mischief. Mayhem. Soap.,Fight Club,8.3,9413,8.096687
238,The Godfather,"[{'cast_id': 5, 'character': 'Don Vito Corleon...","[{'credit_id': '52fe422bc3a36847f80093c9', 'de...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 131, 'name': 'italy'}, {'id': 699, 'na...",en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",143.659698,...,1972-03-14,245066411,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An offer you can't refuse.,The Godfather,8.4,5893,8.078265
680,Pulp Fiction,"[{'cast_id': 2, 'character': 'Vincent Vega', '...","[{'credit_id': '52fe4269c3a36847f801caa3', 'de...",8000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...","[{'id': 396, 'name': 'transporter'}, {'id': 14...",en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",121.463076,...,1994-10-08,213928762,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Just because you are a character doesn't mean ...,Pulp Fiction,8.3,8428,8.075369
155,The Dark Knight,"[{'cast_id': 35, 'character': 'Bruce Wayne', '...","[{'credit_id': '55a0eb4a925141296b0010f8', 'de...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'id': 849, 'name': 'dc comics'}, {'id': 853,...",en,The Dark Knight,Batman raises the stakes in his war on crime. ...,187.322927,...,2008-07-16,1004558444,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,The Dark Knight,8.2,12002,8.044727
13,Forrest Gump,"[{'cast_id': 7, 'character': 'Forrest Gump', '...","[{'credit_id': '52fe420ec3a36847f800076b', 'de...",55000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 422, 'name': 'vietnam veteran'}, {'id'...",en,Forrest Gump,A man with a low IQ has accomplished great thi...,138.133331,...,1994-07-06,677945399,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The world will never be the same, once you've ...",Forrest Gump,8.2,7927,7.973577
27205,Inception,"[{'cast_id': 1, 'character': 'Dom Cobb', 'cred...","[{'credit_id': '56e8462cc3a368408400354c', 'de...",160000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 1014, 'name': 'loss of lover'}, {'id':...",en,Inception,"Cobb, a skilled thief who commits corporate es...",167.583710,...,2010-07-14,825532764,148.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Your mind is the scene of the crime.,Inception,8.1,13752,7.969753
157336,Interstellar,"[{'cast_id': 9, 'character': 'Joseph Cooper', ...","[{'credit_id': '52fe4bbf9251416c910e4801', 'de...",165000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...","[{'id': 83, 'name': 'saving the world'}, {'id'...",en,Interstellar,Interstellar chronicles the adventures of a gr...,724.247784,...,2014-11-05,675120017,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867,7.937997
1891,The Empire Strikes Back,"[{'cast_id': 7, 'character': 'Luke Skywalker',...","[{'credit_id': '566e19f292514169e200d46f', 'de...",18000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'id': 526, 'name': 'rebel'}, {'id': 803, 'na...",en,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",78.517830,...,1980-05-17,538400000,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Adventure Continues...,The Empire Strikes Back,8.2,5879,7.905832
424,Schindler's List,"[{'cast_id': 14, 'character': 'Oskar Schindler...","[{'credit_id': '52fe4242c3a36847f8010303', 'de...",22000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...","[{'id': 1382, 'name': 'factory'}, {'id': 1631,...",en,Schindler's List,The true story of how businessman Oskar Schind...,104.469351,...,1993-11-29,321365567,195.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,"Whoever saves one life, saves the world entire.",Schindler's List,8.3,4329,7.901477

In [51]:
# Which is not the same as if we sort by popularity
data.sort_values('popularity', ascending=False).head(10)

,title_x,cast,crew,budget,genres,keywords,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count,weighted_rating
movie_id,,,,,,,,,,,,,,,,,,,,,
211672,Minions,"[{'cast_id': 22, 'character': 'Scarlet Overkil...","[{'credit_id': '5431b2b10e0a2656e20026c7', 'de...",74000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","[{'id': 3487, 'name': 'assistant'}, {'id': 179...",en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",875.581305,...,2015-06-17,1156730962,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Before Gru, they had a history of bad bosses",Minions,6.4,4571,6.350374
157336,Interstellar,"[{'cast_id': 9, 'character': 'Joseph Cooper', ...","[{'credit_id': '52fe4bbf9251416c910e4801', 'de...",165000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...","[{'id': 83, 'name': 'saving the world'}, {'id'...",en,Interstellar,Interstellar chronicles the adventures of a gr...,724.247784,...,2014-11-05,675120017,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867,7.937997
293660,Deadpool,"[{'cast_id': 99, 'character': 'Wade Wilson / D...","[{'credit_id': '56c986b2925141172f0068b6', 'de...",58000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 2095, 'name': 'anti hero'}, {'id': 307...",en,Deadpool,Deadpool tells the origin story of former Spec...,514.569956,...,2016-02-09,783112979,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Witness the beginning of a happy ending,Deadpool,7.4,10995,7.296264
118340,Guardians of the Galaxy,"[{'cast_id': 1, 'character': 'Peter Quill / St...","[{'credit_id': '538ce329c3a3687155003358', 'de...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...","[{'id': 8828, 'name': 'marvel comic'}, {'id': ...",en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",481.098624,...,2014-07-30,773328629,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All heroes start somewhere.,Guardians of the Galaxy,7.9,9742,7.739019
76341,Mad Max: Fury Road,"[{'cast_id': 2, 'character': 'Max Rockatansky'...","[{'credit_id': '577da370c3a36817f8003838', 'de...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 2964, 'name': 'future'}, {'id': 3713, ...",en,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,434.278564,...,2015-05-13,378858340,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What a Lovely Day.,Mad Max: Fury Road,7.2,9427,7.099203
135397,Jurassic World,"[{'cast_id': 10, 'character': 'Owen Grady', 'c...","[{'credit_id': '52fe4bf7c3a368484e1a0683', 'de...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 1299, 'name': 'monster'}, {'id': 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,...,2015-06-09,1513528810,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The park is open.,Jurassic World,6.5,8662,6.461427
22,Pirates of the Caribbean: The Curse of the Bla...,"[{'cast_id': 12, 'character': 'Captain Jack Sp...","[{'credit_id': '52fe420fc3a36847f8000f11', 'de...",140000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 911, 'name': 'exotic island'}, {'id': ...",en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",271.972889,...,2003-07-09,655011224,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Prepare to be blown out of the water.,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,7.331797
119450,Dawn of the Planet of the Apes,"[{'cast_id': 8, 'character': 'Caesar', 'credit...","[{'credit_id': '54c4d125c3a36814210139a5', 'de...",170000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'id': 3077, 'name': 'leader'}, {'id': 4090, ...",en,Dawn of the Planet of the Apes,A group of scientists in San Francisco struggl...,243.791743,...,2014-06-26,710644566,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One last chance for peace.,Dawn of the Planet of the Apes,7.3,4410,7.087169
131631,The Hunger Games: Mockingjay - Part 1,"[{'cast_id': 2, 'character': 'Katniss Everdeen...","[{'credit_id': '550a97e6c3a3684877000fbc', 'de...",125000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'id': 836, 'name': 'resistance'}, {'id': 445...",en,The Hunger Games: Mockingjay - Part 1,Katniss Everdeen reluctantly becomes the symbo...,206.227151,...,2014-11-18,752100229,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fire burns brighter in the darkness,The Hunger Games: Mockingjay - Part 1,6.6,5584,6.528553
177572,Big Hero 6,"[{'cast_id': 23, 'character': 'Baymax (voice)'...","[{'credit_id': '537534e7c3a3681efb0002b3', 'de...",165000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","[{'id': 380, 'name': 'brother brother relation...",en,Big Hero 6,The special bond that develops between plus-si...,203.734590,...,2014-10-24,652105443,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From the creators of Wreck-it Ralph and Frozen,Big Hero 6,7.8,6135,7.570852

A rating and recommendation system based on votes or popularity alone is not very effective nor very interesting, because it's not personnalised at all. So let's see what makes movies close to each other.

## Recommendation based on genre and quality

We can make another simple recommendation system which is more personnalised. Given a movie, this recommendation system will score all other movies in terms of genre proximity and rating. It will give us back the movies with the best score ! This system is very simple but can be extended quite easily to the keyword category and make an overall not so simple recommendation system.